.modal {
}

.input {
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  padding: 8px 30px;

  color: #fff;
  font-size: 18px;
  cursor: pointer;

  background-color: #61b15a;
  border-radius: 12px;
  border: none;
}
