.header {
  border-bottom: 1px solid $text;
  padding: 20px 0;
}

.headerInner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  img {
    margin-right: 18px;
  }

  span {
    font-size: 36px;
    font-weight: 700;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
