.header {
  border-bottom: 1px solid $text;
  padding: 20px 0;
}

.headerInner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 156px;

  img {
    margin-right: 18px;
  }

  span {
    font-size: 36px;
    font-weight: 700;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-grow: 1;
}

.menuSearch {
  max-width: 480px;
  margin-right: 14px;
}

.menuSelect {
}
