@import "./mixins/fonts.scss";
@import "./fonts.scss";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $main-font;

  background-color: #fff;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}
