@import "./mixins/fonts.scss";
@import "./fonts.scss";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $main-font;

  background-color: $fill-primary;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
